* {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-nav: #273b69;
  --background: #1d2a4b;
  --background-active: #041338;
  --background-title: #273b69;
  --backgroundhover: #0413388e;
}

body {
  background-color: #101728;
}

nav {
  padding: auto;
  width: 100%;
  background-color: var(--background-nav);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo {
  margin-right: auto;
  margin-left: 1em;
  font-size: 2.5em;
}

nav .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 1em;
  margin-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 1.8em;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 8px;
  border-radius: 50%;

  transition: background 0.4s;
}

.social-links a:hover {
  background-color: var(--backgroundhover);
  transform: scale(1.1);
}

nav ul {
  width: 30%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1em;
}

nav ul li {
  height: 2.5em;
  text-decoration: none;
  border-radius: 3em;
  padding: 10px;
}

nav ul li:hover {
  transform: scale(1.1);
  background-color: var(--backgroundhover);
}

a {
  text-decoration: none;
}

.active {
  border-radius: 3em;
  padding: 10px;
  background-color: var(--background-active);
}

.mobilelogo {
  width: 100%;
  text-align: center;
  display: none;
  padding: 1em;
  font-size: 2em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container section {
  border-radius: 1em;
  margin-top: 3vh;
  margin-left: 1.15vw;
  margin-right: 1.15vw;
  width: calc((100% / 3) - 2.8vw);
  background-color: var(--background);
  margin-bottom: 20px;
}
.container section .title {
  width: 100%;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  background-color: var(--background-title);
  padding: 1em;
  text-align: center;
}
.container section .content {
  width: 100%;
  padding: 1em;
  border-radius: 1em;
}

@media (max-width: 768px) {
  nav .social-links,
  nav .logo {
    display: none;
  }
  nav ul {
    justify-content: center;
    align-items: center;
  }
  nav {
    height: 4em;
  }

  .mobilelogo {
    display: block;
  }

  .container {
    display: block;
    flex-direction: column;
  }

  .container section {
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

::selection {
  background-color: var(--background-selection);
}
